/tmp
clear.sh
conversion-eps-converted-to.pdf
*.eps
*.pyc
*.lyx~
*.lyx#
*.RDS
*.RData
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.nlo
*.run.xml
*.synctex*
*.fls
*.bbl
*.log
*.bcf*
*.ilg
*.blg
*.nls
*.brf
*.fdb_latexmk
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.m~